<div ng-include="'partials/head.html?3'"></div>


<div ng-show="showWelcome">

  <div class="welcome_logo"></div>

  <div class="welcome_box_wrap">
    <div class="welcome_text">
      <p>Bienvenido al telegram de <strong>Forocoches</strong></p>
      <p>Servidor de Shurgram</p>
      <p>Visita <a target="_blank" href="http://www.forocoches.com/foro/showthread.php?t=3598036/">Demigram en Forocoches</a> para más info.</p>
    </div>
    <a href="#/login" class="btn btn-tg btn-block">Empezar a chatear</a>
  </div>

</div>
